<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>kafka util</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<div class="container">
    <form id="form" action="/query">
        <table style="width: 100%">
            <tr>
                <td>kafka server</td>
                <td><select name="kafkaServer" id="">
                    <option value="10.58.76.10:9092">center</option>
                    <option value=""></option>
                </select></td>
            </tr>
            <tr>
                <td><label for="">topic</label>
                    <input id="topic" name="topic" th:value="${topic}" type="text">
                </td>
                <td><label for="">regex</label><input id="regex" name="regex" th:value="${regex}"
                                                      type="text"><br>
                </td>
            </tr>
            <tr>
                <td><label for="">startTime</label><input id="startTime" name="startTime"
                                                          th:value="${startTime}" type="text">
                </td>
                <td><label for="">endTime</label><input id="endTime" name="endTime"
                                                        th:value="${endTime}" type="text">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">查询</button>
                </td>
            </tr>
        </table>
    </form>
    <div>
        <button onclick="queryLag()">query lag</button>
        <span id="info"></span>
    </div>
</div>
<div>

</div>
<script type="application/javascript">
    $('#form').submit(function (event) {
        console.log("submit ...")
    })

    function queryLag() {
        $.ajax({
                   'url': '/queryLag',
                   'success': function (data) {
                       console.log(data)
                       $('info').text('length: ' + data.length)
                   }
               })
    }

    // setInterval(queryLag, 60000)
</script>
</body>
</html>